:root {
  --background-color: #f3f5fc;
  --background-color-texto-encriptador: #fff;
  --background-boton-azul: #0a3871;
  --background-boton-azul-hover: #05213c;
  --background-boton-desencriptar-hover: #dce0f0;
  --border-color-boton-azul: #0a3871;
  --font-family-inter: "Inter", sans-serif;
  --font-color-azul: #0a3871;
  --font-color-grey: #495057;
  --font-color-grey-oscuro: #343a40;
  --font-color-white: #ffffff;
}

body {
  background: var(--background-color, white);
  font-family: var(--font-family-inter);
}

header {
  /* background-color: yellow; */
  margin: 0 5%;
  padding: 5% 0 5%;
}

main {
  /* width: 940px;  */ /*porque comunmente las pantallas tienen 1280px, queremos ocupar el 70% aproximadamente*/
  /* margin: auto; */ /*auto a los lados para que el navegador calcule los espacios si la resolucion de la pantalla no fuese 1280px*/
  margin: 0 5%;
}

.contenedor-encriptador-input {
  /* background-color: rosybrown; */
  padding-bottom: 10%;
}

.contenedor-encriptador-texto {
  height: 50vh;
}

.contenedor-encriptador-texto textarea {
  width: 100%;
  height: 90%;
  background-color: var(--background-color);
  font-size: 2rem;
  font-family: var(--font-family-inter);
  color: var(--font-color-azul);
  font-weight: 400;
  line-height: normal;
  border-style: none;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: var(--font-color-azul);
}

.indicaciones {
  display: flex;
  padding-bottom: 1rem;
}

.indicaciones img {
  padding-right: 0.5rem;
  height: 1rem;
}

.indicaciones p {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--font-color-grey);
}

.boton-encriptar {
  background-color: var(--background-boton-azul);
  border-radius: 24px;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  border-style: none;
  font-family: var(--font-family-inter);
  font-size: 1rem;
  color: var(--font-color-white);
  margin-bottom: 1.5rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.boton-encriptar:hover {
  cursor: pointer;
  background: var(--background-boton-azul-hover);
}

.boton-desencriptar {
  border-radius: 24px;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  border: 1px solid var(--border-color-boton-azul);
  font-family: var(--font-family-inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--font-color-azul);
  transition: all 0.1s ease-in-out;
}

.boton-desencriptar:hover {
  cursor: pointer;
  background: var(--background-boton-desencriptar-hover);
}

.contenedor-encriptador-output {
  margin-bottom: 10%;
  background-color: var(--background-color-texto-encriptador);
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  text-align: center;
}

.imagen-munheco {
  display: none;
}

.titulo-mensaje {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-color-grey-oscuro);
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

.ingresa-mensaje {
  font-size: 1rem;
  font-weight: 400;
  color: var(--font-color-grey);
  line-height: 1.5rem;
}

.footer {
  text-align: center;
  padding-bottom: 5%;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--font-color-grey);
}

.SocialLayout {
  padding-bottom: 0.5rem;
}

.SocialLayout img {
  width: 1.5rem;
  padding: 0 1rem;
}

/* Media queries */

/* Tablet */
@media screen and (min-width: 768px) {
  .boton-encriptar-desencriptar {
    display: flex;
  }

  .boton-encriptar {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

/* Destop */
@media screen and (min-width: 1024px) {
  /* .container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
  } */
  body {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  header {
    display: inline-block;
    margin: 0 0 0 5%;
    padding-right: 3.5rem;
    padding-top: 4%;
    padding-bottom: 0%;
  }

  .contenedor-principal {
    margin: 0 5% 0 0;
  }
  .contenedor {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .contenedor-encriptador-input {
    padding-bottom: 0;
    padding-right: 3.5rem;
    padding-top: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contenedor-encriptador-texto textarea {
    height: 95%;
  }

  .contenedor-encriptador-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    width: 30%;
  }

  .imagen-munheco {
    display: inline-flex;
    width: 80%;
    margin: 0 auto;
  }

  .footer {
    width: 100vh;
  }
}
